<% if signed_in? %>
<%= render 'shared/dashboard' %>
<% else %>

<div id="wrapper">
  <section id="featurette">
    <div class="container">
      <section class="row">
        <div class="span2 offset2">
          
            <span>
              <%= image_tag("tomatowords.png", id: "logo") %>
            </span>
          
        </div>
        <div class="span6">
          <h1>Use Your Foodle</h1>
          <p>
            Helping you to reduce your food waste, one recipe at a time.  We are currently in Beta.
          </p>

              <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>

        </div>
        <div class="span3 frontpicture">
          <span>
            <%= image_tag("greyfork.png", id: "fork") %>
          </span>
        </div>
      </section>

    </div>
  </section>

  <section id="signin">
    <div class="container">
      <section class="row">
        <%= form_for(:session, url: sessions_path) do |f| %>
            <div class="span4">
  
              <%= f.label :email %>
              <%= f.text_field :email %>

            </div>
            <div class="span4">
              <%= f.label :password %>
              <%= f.password_field :password%>
            </div>
            <div class="span2">
              <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </section>


  <section id="feature">
    <div class="container">
     <h1>
    How often do you throw out food in your house?  
    </h1>
    <div class="tight">
      <h3>
      For the average U.S. household of four, food waste translates into an estimated <em>$1,350.00 to $2,275.00</em> in annual losses.  That is real money being thrown away for no reason.  Here at Use Your Foodle our goal is to help you reduce your food waste and put money back in your pocket.
      </h3>
    </div>
  </div>
  </section>

  <section id="mainContent">
    <div class="container">
      <section class="row">
        <div class="span6">
          <strong>Fork recipes</strong> - Maybe you've made Mrs X's Favorite Apple Pie, but changed a few of the ingredients.  You can now save the recipe with those changes and make it your own.  Forking automatically imports all the data from the recipe and allows you to change the ingredients, and then save the new recipe.
        </div>
        <div class="span6 picture">
          <span class="picture">
          </span>
        </div>
      </section>
   
      <section class="row">
        <div class="span6">
        </div>
        <div class="span6">
          <strong>Find recipes based on used ingredients</strong> - Directly from the recipe page you can click on any ingredient and find other recipes that use that same ingredient.  Explore recipes and try to use all your ingredients.
        </div>
      </section>
 
      <section class="row">
        <div class="span6">
          <strong>Your personal pantry</strong> - Once you make a recipe we'll save all the ingredients you used to your pantry.  This is a list of food items that you currently have, or have recently used.
        </div>
        <div class="span6">
        </div>
      </section>
    </div>
  </section>

  <section id="endContent">
    <div class="container">
      <h1>
        Your Dashboard brings it all together.
      </h1>

      <div class="tight">
        <h2>
        Recently made a dish you love?  Wondering when that chicken was bought and will expire?  You dashboard provides all your most important items for quick reference. 
        </h2>
      </div>
    </div>
  </section>

  <section id="featurette">
    <div class="container">
      <h1>
      </h1>
    </div>
  </section>


</div>

<% end %>