<fieldset>
<li id="ingredient">

	  		<%= f.label :name, "Ingredient" %>
	  		<%= f.text_field :name %>
	  		

	  		<%= f.label :quantity, "Quantity" %>
	  		<%= f.text_field :quantity %>
	  		<%= f.hidden_field :_destroy %>
	  		<%= link_to "Delete this ingredient", '#', class: "remove_fields" %>
</li>
</fieldset>