<% if @haverating.nil? %>
<div class="span1" id="ratingfield">
	<% if signed_in? %>
		<%= form_for(Rating.new, :remote => true) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  <div class="ratingfields">
		  	<%= f.label :ranking, "Rating" %>
		    <%= f.select(:ranking, (0..10).to_a) %>
		    <div><%= f.hidden_field :recipe_id, :value => @recipe.id %></div>
		    <div><%= f.hidden_field :user_id, :value => current_user.id %></div>
		  </div>
		  <%= f.submit "Rate this Recipe", class: "btn btn-small btn-primary" %>
	    <% end %>
	<% end %>
</div>
<% else %>
<div class="span1" id="ratingfield">
	<%= @haverating.ranking if signed_in? %>
</div>
<% end %>
