<% provide(:title, @recipe.name.titleize) %>
<% @body_class = "about" %>


<div id="recipetitle">
  <div class ="row">
    <div class="span5">
      <h1>
        <%= @recipe.name.titleize %>
      </h1>
      <h2>
        Submitted by <%= @recipe.user.name %>
      </p>
        <%= @recipe.description %>
      </p>
      </h2>
    </div>

    <div class="span4" id="pullright">
      <%= image_tag @recipe.recipeimage_url(:thumb).to_s %>
    </div>
  </div>
</div>

  <!-- Links to fork and editing pages  -->
<div id="recipelinks">
  <span class="span10">
    <h2>
      

      <% if signed_in? %>
       || <%= link_to "Fork this recipe", fork_recipe_path(@recipe) if signed_in? %> ||
      <% end %>
      <%= link_to "Edit this Recipe", edit_recipe_path(@recipe) if current_user?(@recipe.user) %>
      ||
      <%= link_to "Random Recipe", @random_recipe %>
      ||
      <p>
        <%= render 'saverecipe_form' if signed_in? %>
      </p>
    </h2>
  </span>
</div>



<div class="serving">
  <h3><%= @recipe.name.titleize %> Info</h3>
  <span class="span11">
          <h4>
      <div class="span2">Servings</div>
      <div class="span2">Prep Time</div>
      <div class="span2">Total Time</div>
      <div class="span2" id="endinfo">Rating</div>
      <% if signed_in? %>
      <div class="span2">Your Rating</div>
      <% else %>
      <div class="span2"><%= link_to "Sign in to rate!", signin_path %></div>
      <% end %>
    </h4>
    <div class="span2"><%= @recipe.serving %></div>
    <div class="span2"><%= @recipe.preptime %></div>
    <div class="span2"><%= @recipe.totaltime %></div>
    
      <%= render 'recipes/recipeinfo' %>
      <%= render 'recipes/rating_fields' %>
  </span>
</div>


  
  <!--   Ingredient list  -->

<div class="ingredientlist">
  
  <h3>Ingredients (<%= @recipe.ingredients.count %>)</h3>

  <div class="span12">
    <% if @recipe.ingredients.any? %>
      
      <h4>
        <span class ="span12">
            <div class="span2">Amount</div>
            
            <div class="span8" id="center">Ingredient   </div>
        </span>
      </h4>
      <ol class="ingredients">
        <%= render @ingredients %>
      </ol>
    <% end %>
  </div>
</div>

    <!--  Recipe Description and Directions -->
<div class="recipedirections">
  <h3>
    Directions
  </h3>

  <span class="span12">
    <%= simple_format(@recipe.direction) %>
  </span>

</div>

<% if @recipe.nutrition.present? %>
  <div class="nutrition">
    <h3>Nutrition Information</h3>
    <span class="span12">
      <%= simple_format(@recipe.nutrition) %>
    </span>
  </div>
<% end %>

<% @new_recipe %>

<!--  Carousel Example  -->
<aside class ="span12">
 <div class="container">
    <h1>Use Your Leftover Ingredients!</h1>
    <h2> Select an Ingredient to See Recipes.</h2>
        <div id="myCarousel" class="carousel slide" style="width: 300px; margin: 0 auto">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item" id="one"><%= image_tag @recipe.recipeimage_url %></div>
                <div class="item" id="two"><%= image_tag @recipetwo.recipeimage_url %></div>
                <div class="item" id="three"><%= image_tag @recipethree.recipeimage_url %></div>
            </div>
            <!-- Carousel nav  -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
  </div><!--//container-->

</aside>

<div class="row">

<span class="span8">
<button type="button" class="btn btn-default btn-lg">
  <span class="icon-black icon-chevron-left"></span> <%= link_to "Previous Recipe", Recipe.find_by_id(@recipe.id-1) %>
</button>
</span>
<span class="span2">
<button type="button" class="btn btn-default btn-lg">
  <%= link_to "Next Recipe", Recipe.find_by_id(@recipe.id+1) %>
  <span class="icon-black icon-chevron-right"></span> 
</button>
</span>

</div>



  <!--  Comment Form and comments   -->
<div class="row" id="comment_form">
  <aside class="span8">
    <section>
      <%= render 'shared/comment_form' %>
    </section>
  </aside>
</div>
<div class="row" id="commentfeed">
      <%= render @commentfeed %> 
</div>
