<% provide(:title, @recipe.name.titleize) %>
<div class="center hero-unit">
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @recipe.name.titleize %>
      </h1>
      <p>
        <%= @recipe.description %>
        <%= @recipe.user_id %>
        <%= link_to "Edit this Recipe", edit_recipe_path(@recipe) %>
        <%= link_to "Fork this recipe", fork_recipe_path(@recipe) %>
      </p>
    </section>
  </aside>
  <div class="span8">
    <%= render 'saverecipe_form' if signed_in? %>
  </div>
  <div class="span8">
    <% if @recipe.ingredients.any? %>
      <h3>Ingredients (<%= @recipe.ingredients.count %>)</h3>
      <ol class="ingredients">
        <%= render @ingredients %>
      </ol>
    <% end %>
  </div>
</div>
</div>