<% @body_class = "about" %>
<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Recipes:</b> <%= @user.recipes.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="row">
    <span class="span6">
   
      <h3>Add an Ingredient to Your Pantry </h3>
    <%= form_tag({controller: "pantries", action: "create"}, :method => "post") do %>
      <p>
        <%= label_tag(:name, "Ingredient Name") %>
        <%= text_field_tag :name %>
        <%= label_tag(:quantity, "Quantity") %>
        <%= text_field_tag :quantity %>
        <%= label_tag(:unit, "Units") %>
        <%= select_tag(:ranking, options_for_select(["lbs","oz","tsp","tbs"])) %>
        <%= label_tag(:expiration, "Expires?") %>
        <%= text_field_tag :expiration %>
        
      </p>
      <div class="center"><%= submit_tag("Add Ingredient to Pantry", class: "btn btn-small btn-primary") %></div>
    <% end %>
    </span>
  </div>
  <div class="span12">
    <h3>Made Recipes</h3>
    <% if @user.made_recipes.any? %>
      <ul class="users">
        <%= render partial: "shared/made_recipe", collection: @user.made_recipes, as: :recipe %>
      </ul>
      
    <% end %>
  </div>
  <div class="span12">
    <h3>My Pantry</h3>
    <% if @user.pantries.any? %>
      <ul class="users">
        <%= render partial: "pantry/stored", collection: @stored_ingred, as: :ingredient %>
      </ul>
      
    <% end %>
  </div>
  <div class="span8">
    <h3>Recently Used Pantry Items</h3>
    <% if @pantry_items.any? %>
      <ul class="users">
        <%= render partial: "pantry_items/pantry_item", collection: @pantry_items, as: :ingredient %>
      </ul>
      
    <% end %>
  </div>
</div>