<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Recipes:</b> <%= @user.recipes.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>

    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @user.saved_recipes.any? %>
      <ul class="recipes">
        <%= render @user.saved_recipes %>
      </ul>
      <%= will_paginate @recipe %>
    <% end %>
  </div>
</div>