<li>
  <span class="span2">
    <%= image_tag recipe.recipeimage_url(:thumb).to_s %>
  </span>
  <span class = "span2">
        <%= link_to recipe.name, recipe %>
  </span>
  <span class="span2">
    <% if current_user== nil %>
    <% elsif current_user.admin? || recipe.user_id==current_user.id %>
      | <%= link_to "delete recipe", recipe, method: :delete,
                                    data: { confirm: "You sure?" } %>
    <% end %> 
  </span>
  
  <div class="span1.5">
    <div id="<%= recipe.id %>">
      <%= link_to raw("Expand"), expand_recipe_path(recipe), class: "btn btn-success", :remote => true %>
    </div> 
  </div>
  <div id="recipe_<%= recipe.id %>">
  </div> 
</li>