<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <a href="<%= saved_recipes_user_path(@user) %>">
    <strong id="savedrecipes" class="stat">
      <%= @user.saved_recipes.count %>
    </strong>
    saved recipes
  </a>
  <a href="<%= show_recipes_user_path(@user) %>">
    <strong id="showrecipes" class="stat">
      <%= @user.recipes.count %>
    </strong>
    submitted recipes
  </a>
  <a href="<%= pantry_user_path(@user) %>">
    <strong id="pantry" class="stat">
      <%= @user.ingredients.count %>
    </strong>
    pantry items
  </a>
  <a href="<%= pantry_user_path(@user) %>">
    <strong id="pantry" class="stat">
      <%= @user.made_recipes.count %>
    </strong>
    made recipes
  </a>
</div>