
<table class="table table-condensed">
<div class="span2"><%= ingredient.quantity %> <%= ingredient.unit %></div>

<span class="info_link" data-name='<%= @random_recipe %>'><%= ingredient.name %></span> <% if ingredient.style.present? %><%= ingredient.style %>  <% end %>
</table>



