<div class="row">
<span class="span2"><%= ingredient.quantity %> <%= ingredient.unit %></span>

<span class="info_link" data-name='<%= @random_recipe %>'><%= ingredient.name %></span> <% if ingredient.style.present? %><%= ingredient.style %>  <% end %>

</div>







