
<div class="span2"><%= ingredient.quantity %> <%= ingredient.unit %></div>
<div class="span4">
<span class="info_link" data-name='<%= @random_recipe %>'><%= ingredient.name %></span> <% if ingredient.style.present? %><%= ingredient.style %>  <% end %>
</div>






