<% if ingredient.quantity.to_i < 0 %>
<li class ="negative" id ="<%=ingredient.id%>">
<% elsif ingredient.expiration.nil? %>
<li id="<%=ingredient.id%>">
<% elsif ingredient.expiration < Date.today %>
<li class ="expired" id ="<%=ingredient.id%>">
<% else %>
<li id="<%=ingredient.id%>">
<% end %>

	<span class="span2"><%= ingredient.name %></span>
	<span class="span1"><%= ingredient.quantity %> <%= ingredient.unit %></span>
	<span class="span2 center"><%= ingredient.updated_at.strftime("%d %b. at %H:%M") %></span>
	<% if ingredient.expiration.present? %>
		<span class="span3 center"><%= ingredient.expiration %></span>
	<% else %>
		<span class="span3 center">No Expiration Set</span>
	<% end %>
	<div class="span1" data-id"remove">
		<%= link_to "Remove", pantry_path(ingredient), method: :delete,:remote => true, class: "btn btn-small" %>
    </div>
    <div class="span1" data-id ="<%= ingredient.id %>">
    	<%= link_to "Edit", edit_pantry_path(ingredient),:remote => true, class: "btn btn-small" %>
    </div>
</li>