<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true, :cache => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

 
    

  <body class = <%= @body_class || "none" %> >
    <%= render 'layouts/header' %>
    
    <div class="container">
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%=(name == :notice && 'success' or name == :warning && 'warning' or name == :info && 'info' or 'error')%>">

        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
      <% end %>
      <div class="row">
        <div class="span10">
          <%= yield %>
        </div>
        <div class="span2">
          This is a placeholder for content.
        </div>
      </div>
      
      <%= debug(params) if Rails.env.development? %>
    </div>


    <%= render 'layouts/footer' %>
  </body>
</html>