<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'bwtomato2.png' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true, :cache => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

 
    

  <body class = <%= @body_class || "none" %> >
    <%= render 'layouts/header' %>
    
    <div class="container">
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%=(name == :notice && 'success' or name == :warning && 'warning' or name == :info && 'info' or 'error')%>">

        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
      <% end %>
      <div id="container2">

        <div id="maincontainer">
          <div id="col1">
            <%= yield %>
          </div>
          <div id="col2">
            <% if Rails.env.development? %>
            <div class="pull-right">
              AD
            </div>
            <% else %>
            <div class="pull-right">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- UseYourFoodle -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:120px;height:600px"
                 data-ad-client="ca-pub-8789250911231107"
                 data-ad-slot="9362450766"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <%= debug(params) if Rails.env.development? %>
    </div>


    <%= render 'layouts/footer' %>
  </body>
</html>